* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
}



.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.video-wrap {
    width: 100%;
    height: 100%;
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.heading {
    font-size: 24px;
    margin-bottom: 20px;
}

.data-item {
    text-align: center;
    margin-bottom: 20px;
}

.data-item img {
    max-width: 100%;
    height: auto;
}
