body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('bgt.jpg');
    background-position: center ; /* Position the background image to show the lower half */
    
    flex-direction: column;
}

.container {
    max-width: 450px;
    background: palevioletred;
    border-radius: 8px;
    box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.4);
    font-family: sans-serif;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 10px;
    flex-direction: column;
    text-align: center;
}

.Temperature-icon {
    font-size: 45px;
    color: #fff;
}

h1 {
    color: #fff;
    letter-spacing: 1.2px;
    font-size: 30px;
}

.input-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 25px;
}

.input-container input {
    flex: 1;
    height: 60px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 8px 0 0 8px;
    padding: 0 10px;
    margin-bottom: 10px;
}

/* for chrome, safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.icon {
    height: 60px;
    width: 60px;
    font-size: 30px;
    background: #4d5964;
    color: #fff;
    border-radius: 0 8px 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    margin-top: 25px;
    text-align: center;
}

.button button {
    border: none;
    outline: none;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
}

.button button:hover {
    background: #000;
    color: #fff;
}
